@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
body{
    margin:0;
    padding:0;
    min-height:100vh;
    width:100%;
    background:url(../images/bckg.gif)top center no-repeat fixed;
    background-size:cover;
}
 h1{
    width:100%;
    font-family: 'Black Ops One', cursive;
    font-size:100px;
    text-align:center;
    color:rgb(251, 11, 11);
}
label{
    color:white;
}
.btn a{
    text-decoration:none;
    color:white;
}
.btn:hover{
    background:rgb(64, 120, 114);
}
.col-3{
    background:rgba(0,0,0,0.5);
    color:white;
    border-radius:15px;
    overflow:hidden;
}
.col-3 img{
    height:200px;
    width:100%;
    object-fit:cover;
}
label{
    font-family: 'Black Ops One', cursive;
    font-size:20px;
    color:rgb(233, 22, 22);
}